{ config, pkgs, ... }:

{
  config = {
  nixpkgs.config.allowUnfree = true;

  users.users.ayaneso = {
    isNormalUser = true;
    description = "ayaneso";
    extraGroups = [ "networkmanager" "wheel" ];
    packages = with pkgs; [];
  };
  mine = {
    system = {
      boot.systemd.enable = true;
      timezone.enable = true;
      networking.networkmanager = {
        enable = true;
	hostname = "ep44";
	applet = true;
      };
    };

    services = {
      audio.pipewire.enable = true;
      remap.interception-tools.enable = true;
    };

    apps = {
      wm.hyprland.enable = true;
      browser.firefox.enable = true;
      chat.discord.enable = true;
      editor.nvim = {
        enable = true;
	default = true;
      };
      filemanager.dolphin = {
        enable = true;
	udisk2 = true;
      };
      dev.git.enable = true;
    };
  };
  };
}
